In [22]:
import numpy as np
import pandas as pd

In [23]:
dfInput = pd.read_csv('input.txt', delim_whitespace = True, header = None)
dfInput.columns = ['dir', 'dist']

In [24]:
dfInput

         dir  dist
0    forward     9
1       down     8
2       down     2
3       down     4
4         up     8
..       ...   ...
995     down     2
996     down     3
997  forward     8
998     down     5
999  forward     6

[1000 rows x 2 columns]

In [20]:
hz = 0
dp = 0

for row in dfInput.iterrows():
    #print(row[1])
    if row[1]['dir'] == 'forward':
        hz += row[1]['dist']
    elif row[1]['dir'] == 'down':
        dp += row[1]['dist']
    elif row[1]['dir'] == 'up':
        dp -= row[1]['dist']
    else:
        exit
        #print('hmmmmm')

print(hz, dp, aim)
print (hz*dp)

1968 1063
2091984

In [26]:
hz = 0
dp = 0
aim = 0

for row in dfInput.iterrows():
    if row[1]['dir'] == 'forward':
        hz += row[1]['dist']
        dp = dp + (aim * row[1]['dist'])
    elif row[1]['dir'] == 'down':
        aim += row[1]['dist']
    elif row[1]['dir'] == 'up':
        aim -= row[1]['dist']
    else:
        exit

print(hz, dp, aim)
print (hz*dp)

1968 1060092 1063
2086261056